%h1 Listing watchlists

%table
  %thead
    %tr
      %th User
      %th
      %th
      %th

  %tbody
    - @watchlists.each do |watchlist|
      %tr
        %td= watchlist.user
        %td= link_to 'Show', watchlist
        %td= link_to 'Edit', edit_watchlist_path(watchlist)
        %td= link_to 'Destroy', watchlist, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Watchlist', new_watchlist_path
