= form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :tv_show
    = f.text_field :tv_show
  .field
    = f.label :no_slots
    = f.number_field :no_slots
  .field
    = f.label :deadline
    = f.date_select :deadline
  .field
    = f.label :filming_start
    = f.date_select :filming_start
  .field
    = f.label :filming_end
    = f.date_select :filming_end
  .field
    = f.label :filming_location
    = f.text_field :filming_location
  .actions
    = f.submit 'Save'
