.formbox
  %h1= t('.title')
  %hr
  %p= t('.welcome')
  %hr

  = form_tag request_contact_path, method: 'post' do
    = label_tag :name, t('.name')
    = text_field_tag :name, '', title: t('.enter_name'), size: 25, :required => true
    = label_tag :email, t('.email')
    = email_field_tag :email, '', title: t('.enter_email'), size: 35, :required => true
    = label_tag :telephone, t('.telephone')
    = telephone_field_tag :telephone, '', title: t('.enter_telephone'), size: 35, maxlength: 11, :required => true
    = label_tag :message, t('.message')
    .textbox
      = text_area_tag :message, '', title: t('.enter_message'), rows: 10, columns:100, :required => true
    = submit_tag t('.submit')
