%h1= t('.title')
%p= t('.welcome')

%table
  %thead
    %tr
      %th TV Show Name
      %th Rating
      %th Review
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.title
        %td= review.rating
        %td= review.description
        %td= link_to 'View', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
