!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags

  %body

    = render('shared/header')
    = yield

    -# Navigation links
    .topPanel
    %ul
      %li
        %a{href: "Home.html"} Home
      %li
        %a{href: "My Projects.html"} TV Shows
      %li
        %a{href: "Contact Me.html"} Favourites
      %li
        %a{href: "Contact Me.html"} Watch Later
      %li
        %a{href: "Contact Me.html"} Contact
